mixin iconsvg(svgName, modificator)
  svg(class!=`icon ` + `icon-${svgName}` + (modificator ? ` icon-${svgName}_${modificator}` : '') + (
    attributes.class ? ` icon-${attributes.class}` : ''))
    use(xlink:href=`/img/sprite.svg#${svgName}`)
