mixin iconsvg(svgName, modificator)
  svg(class!=`icon ` + `icon-${svgName}` + (modificator ? ` icon-${svgName}_${modificator}` : '') + (
    attributes.class ? ` ${attributes.class}` : ''))
    use(xlink:href=(htmlWebpackPlugin.options.mode ? `#${svgName}` : `/img/sprite.svg?${rev.version}#${svgName}`))
