include ../mixins/iconsvg
- rev = require("../../../package")
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= htmlWebpackPlugin.options.title
    meta(name="description" content= htmlWebpackPlugin.options.description)
    link(as='font' crossorigin href="/fonts/roboto-v19-latin_cyrillic-300.woff2" rel='preload' type='font/woff2')
    link(as='font' crossorigin href="/fonts/roboto-v19-latin_cyrillic-500.woff2" rel='preload' type='font/woff2')
    link(as='font' crossorigin href="/fonts/roboto-v19-latin_cyrillic-700.woff2" rel='preload' type='font/woff2')
    link(as='font' crossorigin href="/fonts/roboto-v19-latin_cyrillic-italic.woff2" rel='preload' type='font/woff2')
    link(as='font' crossorigin href="/fonts/roboto-v19-latin_cyrillic-regular.woff2" rel='preload' type='font/woff2')
    each cssFile in htmlWebpackPlugin.files.css
      link(rel="preload" href=cssFile as="style" onload=`this.rel="stylesheet"`)
      link(rel="stylesheet" href=cssFile)
    link(rel="manifest" href="/icons-favicon/manifest.json")
    //link(rel="canonical" href=htmlWebpackPlugin.options.canonical)
  body(class= htmlWebpackPlugin.options.body)
    block main
    each jsFile in htmlWebpackPlugin.files.js
      script(src=jsFile defer)
